/*contacto*/
@import url(./_generales.scss);

form {
    width: 450px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 20px;
}
input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 2px;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background:#CD803E;
    color: #EFEFF3;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width:411px){
    form{
        width: 100%;
    }
}
@media (max-width:750){
    form{
        width: 100%;
    }
}