/*contacto*/
.contactodiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    .contacto__horarios {
        text-align: center;
        
    }

    .contacto__mapa {
        overflow: hidden;

    }
}

@media (max-width: 400px) {
    .contactodiv {
        width: 100%;
        height: 100%;
        display: flex;

        .contacto__horarios {
            overflow: hidden;
            text-align: center;
        }

        .contacto__mapa {
            overflow: hidden;

        }
    }
}

@media(min-width: 401px) and (max-width: 799px) {
    .contactodiv {
        width: 100%;
        height: 100%;

        .contacto__horarios {
            overflow: hidden;
            text-align: center;
        }

        .contacto__mapa {
            overflow: hidden;

        }
    }
}

@media (min-width: 800px) {
    .contactodiv {
        width: 100%;
        height: 100%;

        .contacto__horarios {
            overflow: hidden;
            text-align: center;
        }

        .contacto__mapa {
            overflow: hidden;

        }
    }
}