* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lora', serif;
    font-weight: 300;

}

body {
    font-family: 'Roboto', sans-serif;
}

/*menu*/
.header {
    background-color: #242463;
    height: 100px;
    position: static;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: #EFEFF3;
    text-decoration: none;
}

.nav img {
    width: 200px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-size: 13px;
    margin: 2px 5px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    color: #EFEFF3;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    color: #CD803E;
    transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .nav img {
        width: 100px;
    }


    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #242463;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover {
        color: #CD803E;
        transition: 0.5s;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
        position: static;
        z-index: 2;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

/*footer*/

.footer {
    padding: 20px 0;
    background-color: #242463;

    .footer__social {
        display: flex;
        justify-content: right;
        padding: 0 50px;

        
    }


.footer__list ul {
    font-size: 14px;
    display: flex;
    justify-content: center;
    list-style-type: none;


    li a {
        text-decoration: none;
        display: flex;
        color: $blanco;
        margin: 0 10px;
    }
}

p {
    text-align: center;
    font-size: 13px;
    color: $blanco;
    opacity: 1;

}
}
.footer__what{
    color: #EFEFF3;
}

/*banner*/
.banner {
    width: 100%;
    height: 400px;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner__items {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;

    }
}

.banner__name {
    width: 75%;
    height: 50%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        color: $blanco;
        font-size: 45px;
    }

    
}

@keyframes banner {

    0%,
    20% {
        background-image: url(../imagenes/peritomoreno.jpeg);
    }

    25%,
    45% {
        background-image: url(../imagenes/salta.jpg);
    }

    50%,
    70% {
        background-image: url(../imagenes/pexels-photo-1154638.jpeg);
    }

    75%,
    100% {
        background-image: url(../imagenes/pexels-photo-1266831.jpeg);
    }
}

@media (max-width: 300px) {
    .banner__name {
        width: 65%;
        height: 45%;
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            font-size: 15px;
        }

    }
}