* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lora', serif;
    font-weight: 300;

}

body {
    font-family: 'Roboto', sans-serif;
}

/*menu*/
.header {
    background-color: #242463;
    height: 100px;
    position: static;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: #EFEFF3;
    text-decoration: none;
}

.nav img {
    width: 200px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-size: 13px;
    margin: 2px 5px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    color: #EFEFF3;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    color: #CD803E;
    transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .nav img {
        width: 100px;
    }


    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #242463;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover {
        color: #CD803E;
        transition: 0.5s;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
        position: static;
        z-index: 2;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

/*footer*/

.footer {
    padding: 20px 0;
    background-color: #242463;

    .footer__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__list ul {
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;

        li a {
            text-decoration: none;
            display: flex;
            color: $blanco;
            padding: 1vh;
        }
    }

    p {
        text-align: center;
        font-size: 14px;
        color: $blanco;
        opacity: 1;

    }
}