/*que hacer*/
.questions{
    padding: 50px;
    font-size: 18px;
    background-color: #EFEFF3;
}
.questionsuno{
    font-size: 15px;
}
/*cambio color*/
.accordion-item {
    font-size: 14px;
}
.accordion-body>li>a:hover {        
    
    background-color:transparent;

}

.button {
    background-color: #fff;
}