/*que hacer*/
$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
);
@mixin media-up($breakpoint){
    @if map-has-key($breakpoints , $breakpoint ){
        @media screen and (min-width: map-get($breakpoints, $breakpoint )){
            @content;
        }
    }@else{
        @warn "el valor ´#{ $breakpoint}´ no entendi mucho sass";
    }
    
}
.container .quehacer{
    padding: 20px 15px;
    div div {
        background-color: $gris;
            color: #CE7D35;
        @include media-up(sm){
            color: rgb(255, 255, 255);
            
        }
    }
   
}
.container__titulo{
    color: #fff;
    background-color: #CE7D35;
    
}
