/*registro*/
@import url(_generales.scss);

.form__register {
    width: 400px;
    background: #EFEFF3

    ;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.controls {
    width: 100%;
    background: #EFEFF3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.form__register p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

.form__register a {
    color: black;
    text-decoration: underline;
}

.form__register .botons {
    border: none;
    width: 100%;
    background: #242463;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    color: white;

}