/*dondeir*/
@import url(./_generales.scss);
.findings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #242463;
    .findingsContenedor {
        flex: 1;
        min-width: 200px;
        padding: 5px;
        h1{
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
        
    }
    .findingsContenedor div {
        padding: 10px 45px;
        margin: 10px;
        font-size: 10px;
        text-align: center;
    }
    .findingsContenedor h2{
        font-size: 15px;
        
    }
    .findingsContenedor p{
        font-size: 14px;
        background-color: #EFEFF3;
    }
}
.findingsContenedor:first-child {
    flex: 2;
    padding: 25px;
}
